*{
  box-sizing: border-box;
}

body {
  line-height: 1.45;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.chunck {
  background-color: #f1f1f1;
  margin-bottom: 25px;
  padding: 10px;
}

.chunck > div {
  display: inline-block;
  margin-right: 25px;
}

.chunckContainer {
  display: inline-block;
  vertical-align: top;
  padding: 5px 25px;
  width: 60%;
}

.controller {
  display: inline-block;
  position: relative;
  width: 40%;
  padding-top: 5px;
}

.ctrInput {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  border: none;
  resize: none;
  background-color: #f1f1f1;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  font-size: 1.25em;
  color: #333;
}

.dtInput {
  display: inline-block;
  width: 110px;
  margin-right: 25px;
}



.dtInput span {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

.dtInput:last-of-type {
  text-align: right;
  position: absolute;
  margin-right: 0;
  right: 0;
}

.dtInput:last-of-type input {
  width: 40px;
}

.dtInput input {
  text-align: justify;
  width: 65%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #f1f1f1;
  padding: 5px 10px;
  transition:  all ease .2s;
}

.dtInput input:focus {
  background: crimson;
  color: white;
  outline: none;
} 

