*{
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.45;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  overflow: hidden;
}

.chunck {
  display: grid;
  grid-template-columns: 12.5% 12.5% 75%;
  transition: background-color ease .2s; /*all ease-in .1s, background-color ease .2s;*/
  background-color: #f1f1f1;
  margin-bottom: 25px;
  padding: 10px;
}

.chunck.active {
  color: white;
  background-color: crimson;
}

.chunck.active .chunckName {
  border-left-color: white;
}

.chunckFrom,
.chunckTo {
  font-weight: 400;
  margin: 0 auto;
}

.chunckName {
  padding-left: 50px;
  border-left: 2px solid rgb(206, 206, 206);
}

.ghostChunck {
  opacity: 0.4;
}

.chunck > div {
  display: inline-block;
}

.chunckContainer {
  display: inline-block;
  vertical-align: top;
  padding: 5px 25px;
  width: 60%;
  max-height: 600px;
  overflow-y: scroll;
}

.chunckContainer::-webkit-scrollbar {
  width: 10px;
  background-color: none;
  background-color: #f0f0f0;
  
}

.chunckContainer::-webkit-scrollbar-thumb  {
  background-color: #d8d8d8;
  /* background-color: #F16A85 */
}

.chunckContainer::-webkit-scrollbar-track-piece {
  background-color:none;
}

.controller {
  display: inline-block;
  position: relative;
  width: 40%;
  padding-top: 5px;
}

.ctrInput {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: none;
  resize: none;
  background-color: #f1f1f1;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  font-size: 1.25em;
  color: #333;
  line-height: 1.2;
  /* outline-color: crimson; */
}

.staticChunck {
  display: block;
}

.staticChunck.active {
  color:crimson;
}

.dtInput {
  display: inline-block;
  width: 135px;
  margin-right: 25px;
}

.dtInput span {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

.dtInput:last-of-type {
  text-align: right;
  position: absolute;
  margin-right: 0;
  right: 0;
  width: 125px;
}

.dtInput:last-of-type input {
  width: 80px;
}

.dtInput input {
  text-align: center;
  width: 65%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: none;
  background-color: #f1f1f1;
  padding: 5px 10px;
  transition:  all ease .2s;
  font-weight: 300;
}



.dtInput input:focus {
  text-align: justify;
  background: crimson;
  color: white;
  outline: none;
} 

.dtInput.total input {
  font-weight: 400;
  text-align: center;
} 

.reloadBtn {
  position: relative;
  border-radius: 50%;
  color: #333;
  padding: 2px;
  background-color: transparent;
  border: none;
  position: absolute;
  top:0;
  left: 0;
  width: 25px;
  height: 25px;
}

.reloadBtn > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pulse {
  /* animation-iteration-count: infinite; */
  animation-duration: 0.5s;
  animation-name: pulse;
  animation-timing-function: ease;
}

@keyframes pulse {
  0% {
    background-color: crimson;
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.4);
  }
  70% {
    /* background-color: rgba(220, 20, 60, 0.4); */
    box-shadow: 0 0 0 10px rgba(220, 20, 60, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0);
  }
}

.activityContainer {
  z-index: 1000;
  position: absolute;
  box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.15);
  border-top: 3px solid crimson;
  padding: 10px;
  width: 500px;
  height: 500px;
  background-color: #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activityPinBtn {
  border-radius: 50%;
  position: absolute;
  right: 5px;
  width: 25px;
  height: 25px;
}

.activityPinBtn.active > i {
  color: crimson;
}

.activityPinBtn > i {
  position: absolute;
  left: 52.5%;
  top: 55%;
  transform: translate(-50%, -50%);
}